body{
    background-image: url(../img/fundo.jpg); 
   
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;

}
.principal{
    display: flex;
    border: 2px #fff solid;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 210px;
    
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #020225;
    width: 100%;
    height: 90px;
    gap: 100px;
}

h1{
    text-align: center;
    width: 70%;
    color: #020225;
}
header li{
    padding-bottom: 5px;
    list-style-type: none;
    height: 90px;
    display: flex;
    align-items: flex-end;
}
a{
    font-size: 1.2rem;
    color: #020225;
    text-decoration: none;
}

label{
    font-size: 1.1rem;
    color: #020225;
    font-weight: bold;
}
input{
    border: 1px #fff solid;
    border-radius: 10px;
    font-size: 1.1rem;
    background-color: transparent;
    height: 30px;
    color: #020225;
    
}
.botao{
    display: flex;
    gap: 15px;
    justify-content: center;
    color: #020225;
    font-weight: bold;
    
}

textarea:focus, input:focus, select:focus {
    outline: 0;
}

.btn{
    cursor: pointer;
}
.cadastro{
    text-align: center;
    color: #fff;

}
.cadastro a{
    font-weight: bold;
    color: #fff;
}